.FaceBook {
    @include IconDimantions(10px, 17px);
    @include IconImage($FaceBookIconUrl);
  }
  
  .Instagram {
    @include IconDimantions(16px, 16px);
    @include IconImage($InstagramIconUrl);
  }
  
  .Twitter {
    @include IconDimantions(19px, 16px);
    @include IconImage($TwitterIconUrl);
  }
  
  .YouTube {
    @include IconDimantions(22px, 15px);
    @include IconImage($YouTubeIconUrl);
  }
  
  .PayPal {
    @include IconImage($PayPalIconUrl);
  }
  
  .Mastercard {
    @include IconImage($MastercardIconUrl)
  }
  
  .Visa {
    @include IconImage($VisaIconUrl)
  }
  
  .Amex {
    @include IconImage($AmexIconUrl)
  }
  
  .Maestro {
    @include IconImage($MaestroIconUrl)
  }
  
  .Klarna {
    @include IconImage($KlarnaIconUrl)
  }
  
  .ApplePay {
    @include IconImage($ApplePayIconUrl)
  }
  
  .GooglePay {
    @include IconImage($GooglePayIconUrl)
  }