@import './variables.scss';
@import './mixins.scss';
@import './icons.scss';
/************************************** Start Reset Element **************************************/
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

}

ul,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
/************************************** End Reset Element **************************************/

/************************************** Start Fonts **************************************/
@font-face {
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-family: 'Open Sans';
}

@font-face {
  src: url(../fonts/Roboto-Regular.ttf);
  font-family: 'Roboto';
}
/************************************** End Fonts **************************************/

/************************************** Start Globel Style **************************************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.container-fluid {
  max-width: 100%;
  margin-right: 35px;
  margin-left: 35px;
}

.goTop {
  position: fixed;
  bottom: 0;
  right: 10px;
  background: $PrimaryBGColor;
  color: #fff !important;
  width: 36px;
  height: 36px;
  bottom: 10px;
  border-radius: 6px;
  font-size: 24px;
  display: none;
  text-align: center;
  line-height: 35px;
  z-index: 999;
}

.Loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.HiddenScroll {
  overflow: hidden;
}

.HiddenOverFlow{
  overflow: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  &.HiddenScroll {
    padding-top: 152px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #000000;
      mix-blend-mode: normal;
      opacity: 0.6;
      z-index: 9;

    }
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $PrimaryBGColor;
  }
}
:root{
  scrollbar-color: $PrimaryBGColor #F5F5F5  !important;
  scrollbar-width: thin !important;
}

.Btn {
  width: 180px;
  height: 48px;
  border: none;
  -webkit-appearance: none;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 1.38462px;
  text-transform: uppercase;
  border-radius: 29px;
  padding: 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &.BtnPrimary {
    background-color: $PrimaryBGColor;
    color: $PrimaryFontColor;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(255, 92, 0, 0.27);
    }
  }
}
/************************************** Start Globel Style **************************************/

/************************************** Start Header Sec **************************************/
.HeaderSec {
  background: #95DBE5;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 152px;
  padding: 0 33px;

  .Logo {
    width: 101px;
    height: 28px;
  }

  .MainMenu {
    display: none;
  }

  .ToggleMenu {
    width: 48px;
    height: 48px;
    background: #FF5C00;
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      @include IconDimantions(24px, 6px);
      @include IconImage($MenuIconUrl);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

  }

  &.OpenMenu {
    background: #ff5c00;
    background-image: none;
    position: fixed;
    top: 0;
    z-index: 9;

    .ToggleMenu {
      &::before {
        content: '';
        position: absolute;
        @include IconDimantions(17px, 17px);
        @include IconImage($CloseMenuIconUrl);
        background-size: contain;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .MainMenu {
      display: flex;
      position: fixed;
      background: url(../images/menu-bg.png) no-repeat;
      background-size: 100% 100%;
      right: 0;
      width: 100%;
      top: 152px;
      z-index: 9;

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vh;

        li {
          a {
            font-family: 'Roboto';
            font-size: 30px;
            line-height: 65px;
            color: $PrimaryFontColor;
            text-transform: capitalize;
            &.active,
            &:hover{
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
/************************************** Start Header Sec **************************************/


/************************************** Start Main Sec **************************************/
.MainSec {
  overflow: hidden;

  .ContentSec {
    background-color: #95DBE5;
    position: relative;
    overflow: hidden;
    width: 150%;
    margin-left: -25%;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;

    .ContentSecBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 610px;

      .Block {
        text-align: center;
        margin: 30px auto;
        max-width: 277px;

        .title {
          font-family: 'Roboto';
          font-weight: normal;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          font-weight: normal;
          color: $PrimaryFontColor;
          margin: 0;
          margin-bottom: 43px;
        }

      }
    }
  }



  img {
    max-width: 363px;
    max-height: 419px;
    position: absolute;
    right: 10%;
    bottom: -13px;
  }
}
/************************************** End Main Sec **************************************/

/************************************** Start OurBest Seller Sec **************************************/
.OurBestSellerSec {
  margin: 100px 29px;
  text-align: center;
  min-height: 610px;

  .title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 33px;
    font-weight: normal;
    color: $SecondaryFontColor;
    position: relative;
    display: inline-block;
    margin-bottom: 80px;

    &::before {
      content: '';
      position: absolute;
      left: -44px;
      width: 29px;
      height: 28px;
      background: url(../icons/shape-paw.svg) no-repeat;
      background-size: contain;
    }
  }

  .SliderSection {
    .SliderCard {
      display: flex;
      flex-direction: column;
      max-height: 470px;

      .ProductImage {
        max-width: 310px;
        height: auto;
        position: relative;
        margin: 0 auto;
      }

      .SliderCardBlock {
        background: $SliderBG;
        padding: 130px 30px 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -95px;

        .Btn {
          display: block;
        }

        .ProductName {
          font-family: 'Roboto';
          font-size: 18px;
          line-height: 28px;
          color: $SecondaryFontColor;
          min-height: 60px;
        }

        .ProductPrice {
          font-family: 'Open Sans';
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 1.84615px;
          text-transform: uppercase;
          color: $PrimaryBGColor;
          margin-bottom: 24px;

        }
      }

    }

    .active {
      &.center {
        .SliderCard {
          .Btn {
            display: block;
          }
        }
      }
    }

    .slick-arrow {
      top: 125px;

      &::before {
        content: '';
        opacity: 1;
        width: 18px;
        height: 18px;
        display: block;
        background-size: contain !important;
        background-repeat: no-repeat !important;
      }

      &.slick-next {
        right: -40px;

        &::before {
          background: url(../icons/next-icon.svg);
        }
      }

      &.slick-prev {
        left: -40px;

        &::before {
          background: url(../icons/prev-icon.svg);
        }
      }
    }

  }
}
/************************************** Start OurBest Seller Sec **************************************/

/************************************** Start Info Sec **************************************/
.InfoSec {
  margin: 100px auto;

  .ContentInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .ContentInfoBlockOne {
      position: relative;
      width: 276px;
      height: 224.4px;
      background: url(../icons/shape-blob.svg) no-repeat;
      background-size: contain;
      margin-left: -25px;

      &::before {
        content: '';
        width: 262.8px;
        height: 262.8px;
        border-radius: 50%;
        background-color: #95dbe5;
        position: absolute;
        left: 42px;
        top: 53px;
      }

      &::after {
        content: '';
        position: absolute;
        background: url(../images/dog.png) no-repeat;
        background-size: contain;
        height: 304px;
        left: 45px;
        top: 13px;
        width: 262.92px;
        height: 304.65px;
      }

    }

    .ContentInfoBlockTwo {
      margin-top: 144px;
      max-width: 432px;
      text-align: center;

      .title {
        font-family: 'Roboto';
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 34px;
        font-weight: normal;
      }

      .text {
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 24px;
        color: #7C7C7C;
        margin-bottom: 40px;
      }
    }

  }
}
/************************************** End Info Sec **************************************/

/************************************** Start Delivery Sec **************************************/
.DeliverySec {
  min-height: 353px;
  background: url(../images/pattern-mobile.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  .DeliveryContent {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .icon {
      @include IconDimantions(20px, 20px);
      @include IconImage($ShapePawconUrl);
      margin-bottom: 20px;
    }

    .title {
      font-family: 'Roboto';
      font-size: 26px;
      line-height: 30px;
      margin: 0;
      font-weight: normal;
      margin-bottom: 23px;
    }

    .text {
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 16px;
      color: #7C7C7C;
      margin: 0;
    }
  }
}
/************************************** Start Delivery Sec **************************************/

/************************************** Start FooterSec **************************************/
.FooterSec {
  margin: auto 28px 55px;
  display: flex;
  flex-wrap: wrap;

  .LogContainer {
    width: 100%;

    .Logo {
      width: 101px;
      height: 28px;
      margin-bottom: 49px;
      display: block;
    }
  }

  .FooterContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .TopFooter {
      display: flex;
      flex-wrap: wrap;

      .QuickLinks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 53px;

        ul {
          width: 50%;

          li {
            a {
              font-family: 'Open Sans';
              font-size: 12px;
              line-height: 28px;
              letter-spacing: 1.38462px;
              text-transform: uppercase;
              color: #B7B7B7;

              &:hover {
                color: #000000;
              }
            }
          }
        }
      }

      .SocialLinks {
        width: 100%;
        margin-bottom: 86px;

        .ClickHere {
          font-family: 'Roboto';
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #FF5C00;
          margin-bottom: 41px;
          position: relative;
          display: inline-block;

          &::before {
            content: '';
            position: absolute;
            right: -44px;
            top: 8px;
            @include IconImage($ArrowForwardIconUrl);
            @include IconDimantions(20px, 16px)
          }

          &:hover {
            text-decoration: underline;

            &::before {
              right: -32px;
            }
          }
        }

        ul {
          display: flex;

          li {
            a {
              margin-right: 30px;

              &.Icon {
                &:hover {
                  filter: opacity(0.5);
                }
              }
            }

            &:last-child {
              a {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .BottomFooter {
      border-top: 1px solid #EAEAEA;
      padding-top: 47px;

      .PaymentList {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 22px;
        width: 100%;

        a {
          margin-right: 4px;

          &.Icon {
            @include IconDimantions(33px, 26px);
            margin-bottom: 5px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .CopyRight {
        font-family: Roboto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #7C7C7C;

      }
    }
  }

}
/************************************** End Footer Sec **************************************/

/************************************** Start Slick Slider **************************************/
.slick-slider {
  .slick-dots {
    bottom: -47px;

    li {
      width: 8px;
      height: 8px;
      width: 8px;
      height: 8px;
      margin: 0;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      button {
        padding: 0;
        margin: 0;
        width: 8px;
        height: 8px;

        &::before {
          width: 8px;
          height: 8px;
          line-height: 8px;
        }

      }
    }
  }
}
/************************************** End Slick Slider **************************************/

/************************************** Start Pop Up **************************************/
.PopUpContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  display: none;

  .Icon {
    @include IconDimantions(13px, 13px);
    @include IconImage($CloseMenuIconUrl);
    filter: invert(1);
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .PopUpBody {
    position: relative;
    background: #fff;
    border-radius: 4px;
    max-width: 80%;
    margin: 10% auto 0 auto;
    overflow: hidden;

    .PopUpImage {
      background: #F2F1F6;
      height: 204px;
      overflow: hidden;

      .DogImage {
        display: block;
        width: 182.09px;
        height: 209.3px;
        background: url('../images/dog-popup.png') no-repeat;
        background-size: 100% 100%;
        margin: auto;
      }

      img {
        margin: auto;
        display: block;
      }
    }

    form {
      padding: 43px 36px;
      text-align: center;

      .Title {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
        color: $SecondaryFontColor;
        text-transform: capitalize;
        margin-bottom: 36px;
      }

      .FormGroup {
        input {
          margin: 0;
          background: #E7F6F9;
          border-radius: 29px;
          height: 48px;
          width: 100%;
          border: none;
          -webkit-appearance: none;
          padding: 0 30px;
          font-family: 'Roboto';
          font-size: 14px;
          line-height: 20px;
          color: $SecondaryFontColor;
        }

        margin-bottom: 14px;
      }

      .Text {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: $GrayFontColor;
        width: 244px;
        margin: 6px auto 34px;
      }
    }
  }
}

/************************************** End Pop Up **************************************/

/************************************** Start Media **************************************/
@media (min-width:768px) {
  .FixedHeader {
    position: fixed;
    z-index: 9;
    height: 100px !important;
    min-height: auto;
    -webkit-box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75) !important;
  }

  .container-fluid {
    max-width: 100%;
    margin-right: 150px;
    margin-left: 150px;

  }

  .HeaderSec {
    background: #95DBE5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 0 55px;

    .ToggleMenu {
      display: none;
    }

    .MainMenu {
      display: block;

      ul {
        display: flex;

        li {
          a {
            font-family: 'Open Sans';
            color: $PrimaryFontColor;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.38462px;
            text-transform: uppercase;
            margin-right: 29px;

            &.active,
            &:hover {
              border-bottom: 2px solid $PrimaryBGColor;
            }
          }

          &:last-child {
            a {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .MainSec {
    .ContentSec {
      border-bottom-left-radius: 50% 25%;
      border-bottom-right-radius: 50% 25%;

      .ContentSecBlock {
        flex-direction: row-reverse;
        justify-content: space-between;

        .Block {
          margin: 100px 0 0;
          max-width: 432px;

          .title {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 43px;
          }

        }
      }
    }



    img {
      max-width: 600px;
      max-height: 100%;
      position: static;
      width: max-content;
    }
  }

  .OurBestSellerSec {
    .title {
      margin-bottom: 100px;
    }
  }

  .InfoSec {
    margin: 100px auto 255px;

    .ContentInfo {
      .ContentInfoBlockOne {
        width: 460px;
        height: 374px;
        background: url(../icons/shape-blob.svg) no-repeat;

        &::before {
          content: '';
          width: 438px;
          height: 438px;
          left: 75px;
          top: 90px;
        }

        &::after {
          background: url(../images/dog.png) no-repeat;
          background-size: contain;
          width: 438px;
          height: 485px;
          top: 42px;
          left: 90px;
        }

      }

      .ContentInfoBlockTwo {
        margin-top: 144px;
        max-width: 432px;

        .title {
          font-size: 38px;
          line-height: 45px;
        }

        .text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .DeliverySec {
    min-height: 550px;
    background: url(../images/pattern-desktop.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 165px;

    .DeliveryContent {
      max-width: 312px;

      .icon {
        @include IconDimantions(29px, 28px);
        margin-bottom: 24px;
      }

      .title {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 39px;
      }

      .text {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .FooterSec {
    margin: 0 55px 60px;

    .LogContainer {
      width: 26.333333%;
    }

    .FooterContent {
      width: 73.66666%;

      .TopFooter {
        margin-bottom: 120px;

        .QuickLinks,
        .SocialLinks {
          margin-bottom: 0;
          width: 50%;
        }
      }

      .BottomFooter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 30px;

        .PaymentList {
          width: 50%;
          margin-bottom: 0;

          a {
            margin-right: 7px;

            &.Icon {
              @include IconDimantions(44px, 31px);
            }
          }
        }
      }
    }

  }

  .OurBestSellerSec {
    .SliderSection {
      .SliderCard {
        .SliderCardBlock {
          transition: all ease-in-out 0.3s;

          .Btn {
            display: none;
          }
        }

        &:hover {
          cursor: pointer;

          .Btn {
            display: block;
          }

          .SliderCardBlock {
            box-shadow: 0 4px 8px 0 rgba(142, 209, 218, 0.86);
          }
        }
      }
    }

  }

  .slick-slider {
    margin: 0 -17.5px;

    .slick-slide {
      margin-right: 17.5px;
      margin-left: 17.5px;
    }
  }

  .PopUpContainer {
    .Icon {
      top: 25px;
      right: 25px;
    }

    .PopUpBody {
      max-width: 881px;
      max-height: 480px;
      margin: 10% auto 0 auto;
      display: flex;
      height: 100%;

      .PopUpImage {
        height: 100%;
        width: 50%;

        .DogImage {
          width: 425px;
          height: 100%;
          background: url('../images/dog-popup-large.png') no-repeat;
          background-size: 100% 100%;
        }

      }

      form {
        padding: 99px 62px 69px;
        width: 50%;

        .Title {
          font-family: 'Roboto';
          font-size: 22px;
          font-weight: normal;
          line-height: 26px;
          color: $SecondaryFontColor;
          text-transform: capitalize;
          margin-bottom: 36px;
        }

        .FormGroup {
          input {
            margin: 0;
            background: #E7F6F9;
            border-radius: 29px;
            height: 48px;
            width: 100%;
            border: none;
            -webkit-appearance: none;
            padding: 0 30px;
            font-family: 'Roboto';
            font-size: 14px;
            line-height: 20px;
            color: $SecondaryFontColor;
          }

          margin-bottom: 14px;
        }

        .Text {
          font-family: 'Roboto';
          font-style: normal;
          font-size: 14px;
          line-height: 20px;
          color: $GrayFontColor;
          width: 244px;
          margin: 6px auto 34px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .InfoSec {
    .ContentInfo {
      justify-content: space-between;

      .ContentInfoBlockTwo {
        text-align: start;
      }
    }
  }
}

@media (min-width: 768px) and (max-width:1200px) {
  .MainSec {
    img {
      max-width: 390px;
    }

    .ContentSec {
      .ContentSecBlock {
        .Block {
          .title {
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 30px;
          }
        }
      }
    }

  }

  .OurBestSellerSec {
    .SliderSection {
      .SliderCard {
        .ProductImage {
          max-width: 200px;
        }

        .SliderCardBlock {
          min-height: 230px;
          padding: 90px 22px 27px;
          margin-top: -70px;

          .ProductName {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .slick-arrow {
        top: 60px;

        &.slick-prev {
          left: -10px;
        }

        &.slick-next {
          right: -10px;
        }
      }
    }
  }

  .InfoSec {
    margin: 100px auto 160px;

    .ContentInfo {
      .ContentInfoBlockOne {
        width: 400px;
        height: 300px;

        &::before {
          width: 340px;
          height: 340px;
          left: 70px;
          top: 60px;
        }

        &::after {
          width: 380px;
          height: 380px;
          top: 20px;
          left: 81px;
        }
      }

      .ContentInfoBlockTwo {
        max-width: 360px;
      }
    }
  }

  .container-fluid {
    max-width: 100%;
    margin-right: 60px;
    margin-left: 60px;
  }

  .DeliverySec {
    margin-bottom: 110px;

    .DeliveryContent {
      max-width: 250px;

      .title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
      }
    }
  }

  .LogContainer,
  .FooterContent {
    width: 100% !important;
  }

  .PopUpContainer {
    .PopUpBody {
      max-width: 700px;

      .PopUpImage {
        .DogImage {
          width: 100%;
        }
      }

      form {
        padding: 90px 35px 0;
      }
    }
  }
}

@media (min-width: 600px) and (max-width:992px) {
  .slick-slider {
    margin: 0 10px;
  }

  .slick-slider .slick-slide {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/************************************** End Media **************************************/