$PrimaryBGColor:#FF5C00;
$PrimaryFontColor:#FFFFFF;
$SecondaryFontColor:#000000;
$GrayFontColor:#7C7C7C;
$SliderBG:#E7F7F9;
$LinkColor:#B7B7B7;
$BorderColor:#EAEAEA;

$FaceBookIconUrl:url('../icons/social-fb.svg') no-repeat;
$InstagramIconUrl:url('../icons/social-insta.svg') no-repeat;
$TwitterIconUrl:url('../icons/social-tw.svg') no-repeat;
$YouTubeIconUrl:url('../icons/social-yt.svg') no-repeat;
$PayPalIconUrl:url('../icons/payment-paypal.svg') no-repeat;
$MastercardIconUrl:url('../icons/payment-mastercard.svg') no-repeat;
$VisaIconUrl:url('../icons/payment-via.svg') no-repeat;
$AmexIconUrl:url('../icons/payment-amex.svg') no-repeat;
$MaestroIconUrl:url('../icons/payment-maestro.svg') no-repeat;
$KlarnaIconUrl:url('../icons/payment-klarna.svg') no-repeat;
$ApplePayIconUrl:url('../icons/payment-apple.svg') no-repeat;
$GooglePayIconUrl:url('../icons/payment-google.svg') no-repeat;
$ArrowForwardIconUrl:url(../icons/arrow-forward.svg) no-repeat;
$MenuIconUrl:url(../icons/menu.svg) no-repeat;
$CloseMenuIconUrl:url(../icons/close-menu.svg) no-repeat;
$ShapePawconUrl:url(../icons/shape-paw.svg) no-repeat;