.FaceBook {
  width: 10px;
  height: 17px;
  display: block;
  background: url("../icons/social-fb.svg") no-repeat; }

.Instagram {
  width: 16px;
  height: 16px;
  display: block;
  background: url("../icons/social-insta.svg") no-repeat; }

.Twitter {
  width: 19px;
  height: 16px;
  display: block;
  background: url("../icons/social-tw.svg") no-repeat; }

.YouTube {
  width: 22px;
  height: 15px;
  display: block;
  background: url("../icons/social-yt.svg") no-repeat; }

.PayPal {
  background: url("../icons/payment-paypal.svg") no-repeat; }

.Mastercard {
  background: url("../icons/payment-mastercard.svg") no-repeat; }

.Visa {
  background: url("../icons/payment-via.svg") no-repeat; }

.Amex {
  background: url("../icons/payment-amex.svg") no-repeat; }

.Maestro {
  background: url("../icons/payment-maestro.svg") no-repeat; }

.Klarna {
  background: url("../icons/payment-klarna.svg") no-repeat; }

.ApplePay {
  background: url("../icons/payment-apple.svg") no-repeat; }

.GooglePay {
  background: url("../icons/payment-google.svg") no-repeat; }

/************************************** Start Reset Element **************************************/
* {
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s; }

ul,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

/************************************** End Reset Element **************************************/
/************************************** Start Fonts **************************************/
@font-face {
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-family: 'Open Sans'; }

@font-face {
  src: url(../fonts/Roboto-Regular.ttf);
  font-family: 'Roboto'; }

/************************************** End Fonts **************************************/
/************************************** Start Globel Style **************************************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  max-width: 100%;
  margin-right: 35px;
  margin-left: 35px; }

.goTop {
  position: fixed;
  bottom: 0;
  right: 10px;
  background: #FF5C00;
  color: #fff !important;
  width: 36px;
  height: 36px;
  bottom: 10px;
  border-radius: 6px;
  font-size: 24px;
  display: none;
  text-align: center;
  line-height: 35px;
  z-index: 999; }

.Loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; }

.HiddenScroll {
  overflow: hidden; }

.HiddenOverFlow {
  overflow: hidden; }

body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; }
  body.HiddenScroll {
    padding-top: 152px; }
    body.HiddenScroll::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #000000;
      mix-blend-mode: normal;
      opacity: 0.6;
      z-index: 9; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5; }
  body::-webkit-scrollbar-thumb {
    background-color: #FF5C00; }

:root {
  scrollbar-color: #FF5C00 #F5F5F5 !important;
  scrollbar-width: thin !important; }

.Btn {
  width: 180px;
  height: 48px;
  border: none;
  -webkit-appearance: none;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 1.38462px;
  text-transform: uppercase;
  border-radius: 29px;
  padding: 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s; }
  .Btn.BtnPrimary {
    background-color: #FF5C00;
    color: #FFFFFF; }
    .Btn.BtnPrimary:hover {
      box-shadow: 0 4px 8px 0 rgba(255, 92, 0, 0.27); }

/************************************** Start Globel Style **************************************/
/************************************** Start Header Sec **************************************/
.HeaderSec {
  background: #95DBE5;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 152px;
  padding: 0 33px; }
  .HeaderSec .Logo {
    width: 101px;
    height: 28px; }
  .HeaderSec .MainMenu {
    display: none; }
  .HeaderSec .ToggleMenu {
    width: 48px;
    height: 48px;
    background: #FF5C00;
    border-radius: 50%;
    position: relative; }
    .HeaderSec .ToggleMenu::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 6px;
      display: block;
      background: url(../icons/menu.svg) no-repeat;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }
  .HeaderSec.OpenMenu {
    background: #ff5c00;
    background-image: none;
    position: fixed;
    top: 0;
    z-index: 9; }
    .HeaderSec.OpenMenu .ToggleMenu::before {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      display: block;
      background: url(../icons/close-menu.svg) no-repeat;
      background-size: contain;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto; }
    .HeaderSec.OpenMenu .MainMenu {
      display: flex;
      position: fixed;
      background: url(../images/menu-bg.png) no-repeat;
      background-size: 100% 100%;
      right: 0;
      width: 100%;
      top: 152px;
      z-index: 9; }
      .HeaderSec.OpenMenu .MainMenu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vh; }
        .HeaderSec.OpenMenu .MainMenu ul li a {
          font-family: 'Roboto';
          font-size: 30px;
          line-height: 65px;
          color: #FFFFFF;
          text-transform: capitalize; }
          .HeaderSec.OpenMenu .MainMenu ul li a.active, .HeaderSec.OpenMenu .MainMenu ul li a:hover {
            opacity: 0.6; }

/************************************** Start Header Sec **************************************/
/************************************** Start Main Sec **************************************/
.MainSec {
  overflow: hidden; }
  .MainSec .ContentSec {
    background-color: #95DBE5;
    position: relative;
    overflow: hidden;
    width: 150%;
    margin-left: -25%;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%; }
    .MainSec .ContentSec .ContentSecBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 610px; }
      .MainSec .ContentSec .ContentSecBlock .Block {
        text-align: center;
        margin: 30px auto;
        max-width: 277px; }
        .MainSec .ContentSec .ContentSecBlock .Block .title {
          font-family: 'Roboto';
          font-weight: normal;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          font-weight: normal;
          color: #FFFFFF;
          margin: 0;
          margin-bottom: 43px; }
  .MainSec img {
    max-width: 363px;
    max-height: 419px;
    position: absolute;
    right: 10%;
    bottom: -13px; }

/************************************** End Main Sec **************************************/
/************************************** Start OurBest Seller Sec **************************************/
.OurBestSellerSec {
  margin: 100px 29px;
  text-align: center;
  min-height: 610px; }
  .OurBestSellerSec .title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 33px;
    font-weight: normal;
    color: #000000;
    position: relative;
    display: inline-block;
    margin-bottom: 80px; }
    .OurBestSellerSec .title::before {
      content: '';
      position: absolute;
      left: -44px;
      width: 29px;
      height: 28px;
      background: url(../icons/shape-paw.svg) no-repeat;
      background-size: contain; }
  .OurBestSellerSec .SliderSection .SliderCard {
    display: flex;
    flex-direction: column;
    max-height: 470px; }
    .OurBestSellerSec .SliderSection .SliderCard .ProductImage {
      max-width: 310px;
      height: auto;
      position: relative;
      margin: 0 auto; }
    .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock {
      background: #E7F7F9;
      padding: 130px 30px 42px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -95px; }
      .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock .Btn {
        display: block; }
      .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock .ProductName {
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        min-height: 60px; }
      .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock .ProductPrice {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.84615px;
        text-transform: uppercase;
        color: #FF5C00;
        margin-bottom: 24px; }
  .OurBestSellerSec .SliderSection .active.center .SliderCard .Btn {
    display: block; }
  .OurBestSellerSec .SliderSection .slick-arrow {
    top: 125px; }
    .OurBestSellerSec .SliderSection .slick-arrow::before {
      content: '';
      opacity: 1;
      width: 18px;
      height: 18px;
      display: block;
      background-size: contain !important;
      background-repeat: no-repeat !important; }
    .OurBestSellerSec .SliderSection .slick-arrow.slick-next {
      right: -40px; }
      .OurBestSellerSec .SliderSection .slick-arrow.slick-next::before {
        background: url(../icons/next-icon.svg); }
    .OurBestSellerSec .SliderSection .slick-arrow.slick-prev {
      left: -40px; }
      .OurBestSellerSec .SliderSection .slick-arrow.slick-prev::before {
        background: url(../icons/prev-icon.svg); }

/************************************** Start OurBest Seller Sec **************************************/
/************************************** Start Info Sec **************************************/
.InfoSec {
  margin: 100px auto; }
  .InfoSec .ContentInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .InfoSec .ContentInfo .ContentInfoBlockOne {
      position: relative;
      width: 276px;
      height: 224.4px;
      background: url(../icons/shape-blob.svg) no-repeat;
      background-size: contain;
      margin-left: -25px; }
      .InfoSec .ContentInfo .ContentInfoBlockOne::before {
        content: '';
        width: 262.8px;
        height: 262.8px;
        border-radius: 50%;
        background-color: #95dbe5;
        position: absolute;
        left: 42px;
        top: 53px; }
      .InfoSec .ContentInfo .ContentInfoBlockOne::after {
        content: '';
        position: absolute;
        background: url(../images/dog.png) no-repeat;
        background-size: contain;
        height: 304px;
        left: 45px;
        top: 13px;
        width: 262.92px;
        height: 304.65px; }
    .InfoSec .ContentInfo .ContentInfoBlockTwo {
      margin-top: 144px;
      max-width: 432px;
      text-align: center; }
      .InfoSec .ContentInfo .ContentInfoBlockTwo .title {
        font-family: 'Roboto';
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 34px;
        font-weight: normal; }
      .InfoSec .ContentInfo .ContentInfoBlockTwo .text {
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 24px;
        color: #7C7C7C;
        margin-bottom: 40px; }

/************************************** End Info Sec **************************************/
/************************************** Start Delivery Sec **************************************/
.DeliverySec {
  min-height: 353px;
  background: url(../images/pattern-mobile.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .DeliverySec .DeliveryContent {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .DeliverySec .DeliveryContent .icon {
      width: 20px;
      height: 20px;
      display: block;
      background: url(../icons/shape-paw.svg) no-repeat;
      margin-bottom: 20px; }
    .DeliverySec .DeliveryContent .title {
      font-family: 'Roboto';
      font-size: 26px;
      line-height: 30px;
      margin: 0;
      font-weight: normal;
      margin-bottom: 23px; }
    .DeliverySec .DeliveryContent .text {
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 16px;
      color: #7C7C7C;
      margin: 0; }

/************************************** Start Delivery Sec **************************************/
/************************************** Start FooterSec **************************************/
.FooterSec {
  margin: auto 28px 55px;
  display: flex;
  flex-wrap: wrap; }
  .FooterSec .LogContainer {
    width: 100%; }
    .FooterSec .LogContainer .Logo {
      width: 101px;
      height: 28px;
      margin-bottom: 49px;
      display: block; }
  .FooterSec .FooterContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .FooterSec .FooterContent .TopFooter {
      display: flex;
      flex-wrap: wrap; }
      .FooterSec .FooterContent .TopFooter .QuickLinks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 53px; }
        .FooterSec .FooterContent .TopFooter .QuickLinks ul {
          width: 50%; }
          .FooterSec .FooterContent .TopFooter .QuickLinks ul li a {
            font-family: 'Open Sans';
            font-size: 12px;
            line-height: 28px;
            letter-spacing: 1.38462px;
            text-transform: uppercase;
            color: #B7B7B7; }
            .FooterSec .FooterContent .TopFooter .QuickLinks ul li a:hover {
              color: #000000; }
      .FooterSec .FooterContent .TopFooter .SocialLinks {
        width: 100%;
        margin-bottom: 86px; }
        .FooterSec .FooterContent .TopFooter .SocialLinks .ClickHere {
          font-family: 'Roboto';
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #FF5C00;
          margin-bottom: 41px;
          position: relative;
          display: inline-block; }
          .FooterSec .FooterContent .TopFooter .SocialLinks .ClickHere::before {
            content: '';
            position: absolute;
            right: -44px;
            top: 8px;
            background: url(../icons/arrow-forward.svg) no-repeat;
            width: 20px;
            height: 16px;
            display: block; }
          .FooterSec .FooterContent .TopFooter .SocialLinks .ClickHere:hover {
            text-decoration: underline; }
            .FooterSec .FooterContent .TopFooter .SocialLinks .ClickHere:hover::before {
              right: -32px; }
        .FooterSec .FooterContent .TopFooter .SocialLinks ul {
          display: flex; }
          .FooterSec .FooterContent .TopFooter .SocialLinks ul li a {
            margin-right: 30px; }
            .FooterSec .FooterContent .TopFooter .SocialLinks ul li a.Icon:hover {
              filter: opacity(0.5); }
          .FooterSec .FooterContent .TopFooter .SocialLinks ul li:last-child a {
            margin-right: 0; }
    .FooterSec .FooterContent .BottomFooter {
      border-top: 1px solid #EAEAEA;
      padding-top: 47px; }
      .FooterSec .FooterContent .BottomFooter .PaymentList {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 22px;
        width: 100%; }
        .FooterSec .FooterContent .BottomFooter .PaymentList a {
          margin-right: 4px; }
          .FooterSec .FooterContent .BottomFooter .PaymentList a.Icon {
            width: 33px;
            height: 26px;
            display: block;
            margin-bottom: 5px; }
          .FooterSec .FooterContent .BottomFooter .PaymentList a:last-child {
            margin-right: 0; }
      .FooterSec .FooterContent .BottomFooter .CopyRight {
        font-family: Roboto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #7C7C7C; }

/************************************** End Footer Sec **************************************/
/************************************** Start Slick Slider **************************************/
.slick-slider .slick-dots {
  bottom: -47px; }
  .slick-slider .slick-dots li {
    width: 8px;
    height: 8px;
    width: 8px;
    height: 8px;
    margin: 0;
    margin-right: 16px; }
    .slick-slider .slick-dots li:last-child {
      margin-right: 0; }
    .slick-slider .slick-dots li button {
      padding: 0;
      margin: 0;
      width: 8px;
      height: 8px; }
      .slick-slider .slick-dots li button::before {
        width: 8px;
        height: 8px;
        line-height: 8px; }

/************************************** End Slick Slider **************************************/
/************************************** Start Pop Up **************************************/
.PopUpContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  display: none; }
  .PopUpContainer .Icon {
    width: 13px;
    height: 13px;
    display: block;
    background: url(../icons/close-menu.svg) no-repeat;
    filter: invert(1);
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px; }
  .PopUpContainer .PopUpBody {
    position: relative;
    background: #fff;
    border-radius: 4px;
    max-width: 80%;
    margin: 10% auto 0 auto;
    overflow: hidden; }
    .PopUpContainer .PopUpBody .PopUpImage {
      background: #F2F1F6;
      height: 204px;
      overflow: hidden; }
      .PopUpContainer .PopUpBody .PopUpImage .DogImage {
        display: block;
        width: 182.09px;
        height: 209.3px;
        background: url("../images/dog-popup.png") no-repeat;
        background-size: 100% 100%;
        margin: auto; }
      .PopUpContainer .PopUpBody .PopUpImage img {
        margin: auto;
        display: block; }
    .PopUpContainer .PopUpBody form {
      padding: 43px 36px;
      text-align: center; }
      .PopUpContainer .PopUpBody form .Title {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 36px; }
      .PopUpContainer .PopUpBody form .FormGroup {
        margin-bottom: 14px; }
        .PopUpContainer .PopUpBody form .FormGroup input {
          margin: 0;
          background: #E7F6F9;
          border-radius: 29px;
          height: 48px;
          width: 100%;
          border: none;
          -webkit-appearance: none;
          padding: 0 30px;
          font-family: 'Roboto';
          font-size: 14px;
          line-height: 20px;
          color: #000000; }
      .PopUpContainer .PopUpBody form .Text {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: #7C7C7C;
        width: 244px;
        margin: 6px auto 34px; }

/************************************** End Pop Up **************************************/
/************************************** Start Media **************************************/
@media (min-width: 768px) {
  .FixedHeader {
    position: fixed;
    z-index: 9;
    height: 100px !important;
    min-height: auto;
    -webkit-box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75) !important; }
  .container-fluid {
    max-width: 100%;
    margin-right: 150px;
    margin-left: 150px; }
  .HeaderSec {
    background: #95DBE5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 0 55px; }
    .HeaderSec .ToggleMenu {
      display: none; }
    .HeaderSec .MainMenu {
      display: block; }
      .HeaderSec .MainMenu ul {
        display: flex; }
        .HeaderSec .MainMenu ul li a {
          font-family: 'Open Sans';
          color: #FFFFFF;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 1.38462px;
          text-transform: uppercase;
          margin-right: 29px; }
          .HeaderSec .MainMenu ul li a.active, .HeaderSec .MainMenu ul li a:hover {
            border-bottom: 2px solid #FF5C00; }
        .HeaderSec .MainMenu ul li:last-child a {
          margin-right: 0; }
  .MainSec .ContentSec {
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%; }
    .MainSec .ContentSec .ContentSecBlock {
      flex-direction: row-reverse;
      justify-content: space-between; }
      .MainSec .ContentSec .ContentSecBlock .Block {
        margin: 100px 0 0;
        max-width: 432px; }
        .MainSec .ContentSec .ContentSecBlock .Block .title {
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 43px; }
  .MainSec img {
    max-width: 600px;
    max-height: 100%;
    position: static;
    width: max-content; }
  .OurBestSellerSec .title {
    margin-bottom: 100px; }
  .InfoSec {
    margin: 100px auto 255px; }
    .InfoSec .ContentInfo .ContentInfoBlockOne {
      width: 460px;
      height: 374px;
      background: url(../icons/shape-blob.svg) no-repeat; }
      .InfoSec .ContentInfo .ContentInfoBlockOne::before {
        content: '';
        width: 438px;
        height: 438px;
        left: 75px;
        top: 90px; }
      .InfoSec .ContentInfo .ContentInfoBlockOne::after {
        background: url(../images/dog.png) no-repeat;
        background-size: contain;
        width: 438px;
        height: 485px;
        top: 42px;
        left: 90px; }
    .InfoSec .ContentInfo .ContentInfoBlockTwo {
      margin-top: 144px;
      max-width: 432px; }
      .InfoSec .ContentInfo .ContentInfoBlockTwo .title {
        font-size: 38px;
        line-height: 45px; }
      .InfoSec .ContentInfo .ContentInfoBlockTwo .text {
        font-size: 16px;
        line-height: 24px; }
  .DeliverySec {
    min-height: 550px;
    background: url(../images/pattern-desktop.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 165px; }
    .DeliverySec .DeliveryContent {
      max-width: 312px; }
      .DeliverySec .DeliveryContent .icon {
        width: 29px;
        height: 28px;
        display: block;
        margin-bottom: 24px; }
      .DeliverySec .DeliveryContent .title {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 39px; }
      .DeliverySec .DeliveryContent .text {
        font-size: 14px;
        line-height: 20px; }
  .FooterSec {
    margin: 0 55px 60px; }
    .FooterSec .LogContainer {
      width: 26.333333%; }
    .FooterSec .FooterContent {
      width: 73.66666%; }
      .FooterSec .FooterContent .TopFooter {
        margin-bottom: 120px; }
        .FooterSec .FooterContent .TopFooter .QuickLinks,
        .FooterSec .FooterContent .TopFooter .SocialLinks {
          margin-bottom: 0;
          width: 50%; }
      .FooterSec .FooterContent .BottomFooter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 30px; }
        .FooterSec .FooterContent .BottomFooter .PaymentList {
          width: 50%;
          margin-bottom: 0; }
          .FooterSec .FooterContent .BottomFooter .PaymentList a {
            margin-right: 7px; }
            .FooterSec .FooterContent .BottomFooter .PaymentList a.Icon {
              width: 44px;
              height: 31px;
              display: block; }
  .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock {
    transition: all ease-in-out 0.3s; }
    .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock .Btn {
      display: none; }
  .OurBestSellerSec .SliderSection .SliderCard:hover {
    cursor: pointer; }
    .OurBestSellerSec .SliderSection .SliderCard:hover .Btn {
      display: block; }
    .OurBestSellerSec .SliderSection .SliderCard:hover .SliderCardBlock {
      box-shadow: 0 4px 8px 0 rgba(142, 209, 218, 0.86); }
  .slick-slider {
    margin: 0 -17.5px; }
    .slick-slider .slick-slide {
      margin-right: 17.5px;
      margin-left: 17.5px; }
  .PopUpContainer .Icon {
    top: 25px;
    right: 25px; }
  .PopUpContainer .PopUpBody {
    max-width: 881px;
    max-height: 480px;
    margin: 10% auto 0 auto;
    display: flex;
    height: 100%; }
    .PopUpContainer .PopUpBody .PopUpImage {
      height: 100%;
      width: 50%; }
      .PopUpContainer .PopUpBody .PopUpImage .DogImage {
        width: 425px;
        height: 100%;
        background: url("../images/dog-popup-large.png") no-repeat;
        background-size: 100% 100%; }
    .PopUpContainer .PopUpBody form {
      padding: 99px 62px 69px;
      width: 50%; }
      .PopUpContainer .PopUpBody form .Title {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 36px; }
      .PopUpContainer .PopUpBody form .FormGroup {
        margin-bottom: 14px; }
        .PopUpContainer .PopUpBody form .FormGroup input {
          margin: 0;
          background: #E7F6F9;
          border-radius: 29px;
          height: 48px;
          width: 100%;
          border: none;
          -webkit-appearance: none;
          padding: 0 30px;
          font-family: 'Roboto';
          font-size: 14px;
          line-height: 20px;
          color: #000000; }
      .PopUpContainer .PopUpBody form .Text {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: #7C7C7C;
        width: 244px;
        margin: 6px auto 34px; } }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; }
  .InfoSec .ContentInfo {
    justify-content: space-between; }
    .InfoSec .ContentInfo .ContentInfoBlockTwo {
      text-align: start; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .MainSec img {
    max-width: 390px; }
  .MainSec .ContentSec .ContentSecBlock .Block .title {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 30px; }
  .OurBestSellerSec .SliderSection .SliderCard .ProductImage {
    max-width: 200px; }
  .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock {
    min-height: 230px;
    padding: 90px 22px 27px;
    margin-top: -70px; }
    .OurBestSellerSec .SliderSection .SliderCard .SliderCardBlock .ProductName {
      font-size: 16px;
      line-height: 22px; }
  .OurBestSellerSec .SliderSection .slick-arrow {
    top: 60px; }
    .OurBestSellerSec .SliderSection .slick-arrow.slick-prev {
      left: -10px; }
    .OurBestSellerSec .SliderSection .slick-arrow.slick-next {
      right: -10px; }
  .InfoSec {
    margin: 100px auto 160px; }
    .InfoSec .ContentInfo .ContentInfoBlockOne {
      width: 400px;
      height: 300px; }
      .InfoSec .ContentInfo .ContentInfoBlockOne::before {
        width: 340px;
        height: 340px;
        left: 70px;
        top: 60px; }
      .InfoSec .ContentInfo .ContentInfoBlockOne::after {
        width: 380px;
        height: 380px;
        top: 20px;
        left: 81px; }
    .InfoSec .ContentInfo .ContentInfoBlockTwo {
      max-width: 360px; }
  .container-fluid {
    max-width: 100%;
    margin-right: 60px;
    margin-left: 60px; }
  .DeliverySec {
    margin-bottom: 110px; }
    .DeliverySec .DeliveryContent {
      max-width: 250px; }
      .DeliverySec .DeliveryContent .title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px; }
  .LogContainer,
  .FooterContent {
    width: 100% !important; }
  .PopUpContainer .PopUpBody {
    max-width: 700px; }
    .PopUpContainer .PopUpBody .PopUpImage .DogImage {
      width: 100%; }
    .PopUpContainer .PopUpBody form {
      padding: 90px 35px 0; } }

@media (min-width: 600px) and (max-width: 992px) {
  .slick-slider {
    margin: 0 10px; }
  .slick-slider .slick-slide {
    margin-right: 10px;
    margin-left: 10px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

/************************************** End Media **************************************/
